
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
  </ion-buttons>
  <ion-toolbar class="centered-header">
    <ion-title>Reset Your Password</ion-title>
  </ion-toolbar>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="form">
    <form>
      <ion-item lines="full">
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" required></ion-input>
      </ion-item>
      <ion-row>
        <ion-col>
          <ion-button expand="block" routerLink="/login">Send</ion-button>
        </ion-col>
      </ion-row>
      <small>
        Please provide the username or email address that you used when you signed
        up for your Evernote account.
      </small>
    </form>
  </div>
</ion-content>