
.launchscreen{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjust to desired height */
}
ion-label{
  text-align: center;
  align-items: center;
}

.head{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}