<ion-header>
  <ion-toolbar class="centered-header">
    <ion-title>SIGN UP</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div class="header">
    <img src="../assets/signup (2).png" alt="">
  </div>
  
    <ion-list>
      <div class="form">
        <ion-item>
          <ion-input label="Email" label-placement="stacked" placeholder="juandelacruz@gmail.com"></ion-input>
        </ion-item>
      </div>
      <div class="form2">
        <ion-item>
          <ion-input label="Password" type="password"label-placement="stacked" placeholder="Enter your Password"></ion-input>
        </ion-item>
      </div>
      <ion-row>
        <ion-col>
          <ion-button type="submit"  routerLink="/login">Sign up</ion-button>
        </ion-col>
      </ion-row>
    </ion-list>
    <div class="register">
      <ion-label routerLink="/login">
        Have you an account already?
      </ion-label>
    </div>

</ion-content>